<div class="content"><a
        href="https://www.ttkan.co/novel/user/operation_v3.html?op=set_bookmark&amp;novel_id=yipinxiuxian-bufangxinyoutiao&amp;bookmark=6"
        class="anchor_bookmark"><amp-img src="/novel/imgs/bookmark.svg" width="30" height="30" alt="bookmark"
            title="新增書籤"
            class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout"
            i-amphtml-layout="fixed" style="width: 30px; height: 30px; --loader-delay-offset: 73ms !important;"><img
                decoding="async" alt="bookmark" title="新增書籤" src="/novel/imgs/bookmark.svg"
                class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img></a>
    <p style="color: black;">
        黑老鬼陰鬱的臉上帶着一絲古怪的笑容，看的秦陽心裡發毛。
    </p>
    <p style="color: black;">
        “黑老鬼，有話直說。”
    </p>
    <p style="color: black;">
        黑老鬼沒說話，只是搓了搓手指頭，就這麼看着秦陽。
    </p>
    <p style="color: black;">
        秦陽面色一黑，取出來一百一靈，然後手中一頓，再多拿出來九百放到黑老鬼手裡。
    </p>
    <p style="color: black;">
        這黑老鬼二道販子做的飛起，壽衣穿了幾十年還沒死，關於鬼物這方便的消息，那絕對是最靈通的，既然這麼說，肯定是看出來什麼了，還不如一口氣讓他吃飽，讓他能開心點放出消息。
    </p>
    <center>
        <div class="mobadsq"></div>
    </center>
    <p style="color: black;">
        果然，黑老鬼收起靈石，老臉上的褶子都像是變平了不少，陰鬱的氣質也隨之消散了一些。
    </p>
    <p style="color: black;">
        “老弟是講究人！那我也不跟你繞圈子了，這麼多鬼卒，青林城附近，除了陰槐鬼墓之外，不可能有別的地方有，這二百多鬼卒，全部陷入沉眠，想來是老弟下了血本，用靈香灌醉這些窮鬼，不過呢，我看見這些鬼物身上，有人穿的衣服，有特殊的標記，那是陰槐鬼墓裡的多樂鬼王的下屬，老弟你一口氣端了人家一個據點，在外面還好，但你只要進了陰槐鬼墓，嘿嘿……”
    </p>
    <p style="color: black;">
        秦陽乾笑一聲，拱手道謝，然後轉身就走。
    </p>
    <p style="color: black;">
        這會總算是明白那德妃倆字是怎麼來的了，那個慾求不滿的女鬼，還真是妃子，而且還是鬼王的妃子……
    </p>
    <p style="color: black;">
        端了鬼王妃子的鬼窩，這可比端了鬼王的一個據點嚴重多了。
    </p>
    <p style="color: black;">
        若是讓黑老鬼知道內情，這老鬼指不定就將這個消息賣出去個高價錢……
    </p>
    <p style="color: black;">
        也幸虧自己謹慎，易容來做的交易，要不然，現在就趕緊跑路吧，鬼王啊，敢稱鬼王，起碼比他高出兩個大境界以上，放個屁都能把他崩死十次以上……
    </p>
    <p style="color: black;">
        順着偏道，一路趕回了城西，燒掉一身衣服，還有頭上的假髮，去掉易容之後，秦陽就搖身一晃，身形高了三寸，恢復了原狀，佝僂的身軀也變得挺直，沐浴更衣之後，就又成了那年輕的雜貨店老闆。
    </p>
    <p style="color: black;">
        正好到了開門營業的時間，打開正門，街上也沒什麼人，就只有斜對面的酒樓掌櫃，坐在自家大門口，揣着個紫砂壺，有一口沒一口的嘬着。
    </p>
    <p style="color: black;">
        “喲，秦老闆，今兒個開門挺早啊……”酒樓掌櫃揮手打了個招呼，就繼續靠在那曬太陽。
    </p>
    <p style="color: black;">
        這掌櫃姓李，名字很霸氣，叫李剛，是個笑眯眯的胖子，只不過錙銖必較，摳門的厲害，典型的鐵公雞，但做生意卻很有一手，在城西這破地方，這裡地勢又有些偏，他的酒樓客棧生意卻一直不錯。
    </p>
    <p style="color: black;">
        “李掌櫃，今兒個怎麼閒下來了？不準備東西麼？”秦陽開了門，見沒什麼客人，就有一句沒一句的跟李掌櫃扯淡。
    </p>
    <p style="color: black;">
        “嗨……”李掌櫃嘬了口茶，長嘆一聲：“準備個屁啊，你昨天晚上沒聽到外面的慘叫聲麼？簡直太慘了，今兒個還是有生意那才見了鬼了，都繞道走呢，誰會爲了省倆錢來城西這破地方。”
    </p>
    <p style="color: black;">
        “昨個制符心神消耗太多，早早就睡了，出什麼事了？”秦陽不動聲色，隨口問了一句。
    </p>
    <p style="color: black;">
        “跑三山那幫子人，一夜之間被人殺了個精光，一個活口都沒留下來，據說那現場血流成河，管事的全部都是被活活折磨死的，慘叫聲跟殺豬一樣，隔着幾條街都能聽的清楚。”
    </p>
    <center>
        <div class="mobadsq"></div>
    </center>
    <p style="color: black;">
        “城衛隊呢？”秦陽心裡一個咯噔……
    </p>
    <p style="color: black;">
        跑三山的三山就是指青林城附近的三座山，那裡物產豐富，妖獸也不多，雖然有危險，但養氣期的人還能去裡面混混，挖挖靈藥，尋找資源，幾百裡山川，足夠養活不少修士了。
    </p>
    <p style="color: black;">
        跑三山指的就是這些進山挖資源的人，而城西這邊，跑三山的路子，都被一幫人壟斷了，就叫三山幫，在城西混的跑三山，挖到的資源，都是要出售給他們，要是不然，沒法在城西這邊混。
    </p>
    <p style="color: black;">
        而很不巧的，昨個來找他解憂的人，就是三山幫跟他之間的聯繫人，三山幫的三幫主，這一年裡解憂的活越來越古怪的主要原因，就是因爲三山幫的活最多……
    </p>
    <p style="color: black;">
        本來就是幫人處理處理得瘟疫而死的屍體，中了古怪毒而死的，或者是其他旁人不敢亂接觸的屍體，略有危險的辛苦活，現在成了幫人清掃首尾的洗地專家，不得不說……
    </p>
    <p style="color: black;">
        錢是個好東西。
    </p>
    <p style="color: black;">
        現在三山幫被滅了，絕對就是因爲昨天那倆客戶的原因。
    </p>
    <p style="color: black;">
        三山幫雖說沒多強，但頭頭也是養氣巔峰的修士，後面據說還有人，現在被人說滅就滅，還半點遮掩都沒有，秦陽一聽這個就知道，三山幫這次黃雀在後玩砸了，惹到惹不起的人了，或者說，知道了不該知道的東西，拿了不該拿的東西了……
    </p>
    <p style="color: black;">
        秦陽這邊有點出神，李掌櫃也沒注意，自顧自的繼續說。
    </p>
    <p style="color: black;">
        “城衛隊的敢管個屁，你知道是誰幹的麼？城北萬永商號的人，三山幫不守規矩，拿了不該拿的東西，死了活該，連城主這邊都不敢隨便招惹萬永商號的人，三山幫真是豬油蒙了心，傻大膽，據說他們那三幫主，那個傻大個死的最慘啊，見面就被分屍了，切成了幾百塊，估計萬永商號的人也覺得這傻大個沒什麼價值，就是個純打手，他就這麼死在自家大門口了，嘖嘖，真是慘……”
    </p>
    <p style="color: black;">
        “就這？沒了？”
    </p>
    <p style="color: black;">
        “誰說沒了？萬永商號的人還沒走呢，無量道院又來了倆弟子，據說兩撥人差點打起來，後來不知道怎麼的，沒當街打起來，你說這無量道院的弟子也來了，城衛隊誰敢管？三山幫的地盤現在都被封起來了，裡面的屍體都還沒人收呢……”
    </p>
    <p style="color: black;">
        “咱們自認倒黴吧。”
    </p>
    <p style="color: black;">
        “誰說不是呢，就他們這麼一攪和，今天城西都沒多少人敢來了，生意一落千丈，咱們這種小生意人，不自認倒黴還怎麼辦？這一天起碼損失三四百靈石啊……”李掌櫃唉聲嘆氣，一邊掐指一算，臉上就一陣肉疼……
    </p>
    <p style="color: black;">
        秦陽乾笑一聲，轉身回了店鋪。
    </p>
    <center>
        <div class="mobadsq"></div>
    </center>
    <p style="color: black;">
        回去之後一琢磨，心裡也暗暗疑惑，那倆客戶到底爲了什麼打的兩敗俱傷被人補刀的？若是一般東西，萬永商號和無量道院的弟子，至於這麼心急火燎麼？
    </p>
    <p style="color: black;">
        娘咧，怪不得昨個傻大個這麼爽快，搞了半天他們是弄到好東西了……
    </p>
    <div class="div_feedback"><a
            href="https://www.ttkan.co/novel/user/feedback?page_path=L25vdmVsL3BhZ2VhL3lpcGlueGl1eGlhbi1idWZhbmd4aW55b3V0aWFvXzYuaHRtbA=="
            target="_blank">章節報錯</a></div>
    <div class="social_share_frame"><label>分享給朋友：</label>
        <div class="social_share_inner_frame" data-v-a84641de=""><amp-social-share type="twitter" width="60" height="44"
                aria-label="分享到Twitter"
                data-param-href="https://www.ttkan.co/novel/chapters/yipinxiuxian-bufangxinyoutiao"
                data-param-text="⚡ 《一品修仙》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/yipinxiuxian-bufangxinyoutiao.jpg"
                data-param-hashtags="小說,一品修仙" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-twitter i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share> <amp-social-share type="line" width="60" height="44"
                aria-label="分享到Line" data-param-href="https://www.ttkan.co/novel/chapters/yipinxiuxian-bufangxinyoutiao"
                data-param-text="⚡ 《一品修仙》 這本書超精彩，分享給你！" data-param-description="⚡ 《一品修仙》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/yipinxiuxian-bufangxinyoutiao.jpg" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-line i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share> <amp-social-share type="whatsapp" width="60" height="44"
                aria-label="分享到Whatsapp"
                data-param-href="https://www.ttkan.co/novel/chapters/yipinxiuxian-bufangxinyoutiao"
                data-param-text="⚡ 《一品修仙》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/yipinxiuxian-bufangxinyoutiao.jpg"
                data-param-source_url="https://www.ttkan.co/novel/chapters/yipinxiuxian-bufangxinyoutiao"
                data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-whatsapp i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share> <amp-social-share type="email" width="60" height="44"
                aria-label="分享到郵箱" data-param-href="https://www.ttkan.co/novel/chapters/yipinxiuxian-bufangxinyoutiao"
                data-param-text="⚡ 《一品修仙》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/yipinxiuxian-bufangxinyoutiao.jpg" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-email i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share> <amp-social-share type="pinterest" width="60" height="44"
                aria-label="分享到Pinterest"
                data-param-href="https://www.ttkan.co/novel/chapters/yipinxiuxian-bufangxinyoutiao"
                data-param-text="⚡ 《一品修仙》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/yipinxiuxian-bufangxinyoutiao.jpg" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-pinterest i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share> <amp-social-share type="tumblr" width="60" height="44"
                aria-label="分享到Tumblr"
                data-param-href="https://www.ttkan.co/novel/chapters/yipinxiuxian-bufangxinyoutiao"
                data-param-text="⚡ 《一品修仙》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/yipinxiuxian-bufangxinyoutiao.jpg"
                data-param-data-tags="小說,一品修仙" data-param-data-title="⚡ 《一品修仙》 這本書超精彩，分享給你！"
                data-param-data-content="https://www.ttkan.co/novel/chapters/yipinxiuxian-bufangxinyoutiao"
                data-param-data-caption="https://static.ttkan.co/cover/yipinxiuxian-bufangxinyoutiao.jpg"
                data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-tumblr i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share> <amp-social-share type="linkedin" width="60" height="44"
                aria-label="分享到LinkedIn"
                data-param-href="https://www.ttkan.co/novel/chapters/yipinxiuxian-bufangxinyoutiao"
                data-param-text="⚡ 《一品修仙》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/yipinxiuxian-bufangxinyoutiao.jpg" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-linkedin i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share> <amp-social-share type="sms" width="60" height="44" aria-label="分享到SMS"
                data-param-href="https://www.ttkan.co/novel/chapters/yipinxiuxian-bufangxinyoutiao"
                data-param-text="⚡ 《一品修仙》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/yipinxiuxian-bufangxinyoutiao.jpg" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-sms i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share></div>
    </div>
</div>