.chartPage {
  display: flex;
  flex-direction: column;
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.monthRange {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;

  .monthSelects {
    display: flex;
    flex-direction: row;
    align-items: center;
    .q-select {
      width: 150px;
      margin: 0 10px;
    }
  }
}

.chartDisplay {
  margin-bottom: 2%;
}
