.adminProducts {
  margin-top: 5%;

  .search {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    .searchInput {
      width: 15%;
      min-width: 135px;
    }

    .searchBtn {
      width: 15%;
      padding: 9px 16px;
    }
  }
  @media (min-width: 1024px) {
    .search {
      flex-wrap: nowrap;
    }
  }
}

.productTable {
  box-shadow: none;
  border: none !important;
  img {
    object-fit: cover;
  }
}
